* {
  font-family: sans-serif;
  color: #cfc6c6;
}

body {
  width: 1350px;
  margin: auto;
  background-image: url("https://raw.githubusercontent.com/500W3P/500W3P.github.io/main/images/background.jpg");
  background-size: 100% 100%;
}

table {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  margin: auto;
  margin-bottom: 600px;
}

th, td {
  border: 1px solid black;
  text-align: left;
  padding: 5px;
}

h1{
  margin-bottom: 100px;
  text-align: center;
  font-size: 3em;
}

.homepagebox{
  margin-top: 50px;
  margin-bottom: 100px;
}

.FooterIcons {
  width: 900px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}

.smicon {
  margin: 25px;
}
