* {
  font-family: sans-serif;
  color: #cfc6c6;
}

body {
  width: 1350px;
  margin: auto;
  background-image: url("../images/image.jpg")
}

table {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  margin: auto;
}

th, td {
  border: 1px solid black;
  text-align: left;
  padding: 5px;
}

.FooterIcons {
  width: 900px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: auto;
}

.smicon {
  margin: 25px;
}
